body{
    background: rgb(110, 180, 255);
}

.navigation,.navigation ul{
    background: rgb(0,0,255);
    width: 100%;
    height: 90px;
    text-align: center;
    
}

.navigation li{
    display: inline-block;
    margin-top: 22.5px;
    padding: 0px 40px;
    text-align: center;
    border-right: 2px black solid;        
}

.navigation li a{
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    list-style: none;
}

.gameMain{
    position: absolute;
    width: 1000px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: rgba(67, 83, 81, 0.5);
}

.gameCards{
    display: none;

    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;

    width: 100%;
    height: 100%;

    overflow:auto;
    overflow-y:scroll;
}

.gameCards li{
    width: 300px;
    height: 150px;
    background: red;
    margin: 30px 10px;
    cursor: pointer;
    display: inline-block;
    
}

.gameCards li p{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
}

.gameCards li img{
    width: 100%;
    height: 100%;
}

.teste1{
    width: 100%;
    height: 70px;
    background: rgba(64, 224, 208, 0.384);
}

.teste1 p{
    font-size: 64px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-style: italic;
}

.play{
    width: 200px;
    height: 60px;
    border: none;
    background: rgb(241, 241, 51);
    font-size: 32px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 90%;
    left: 95%;
    margin-right: -95%;
    transform: translate(-95%, -50%);

}