<!DOCTYPE html>
<html lang='pt-BR'>
    <head>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Snake Game - Lobby</title> 
        <script src="/socket.io/socket.io.js"></script>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="/reset.css">
        <link rel="stylesheet" type="text/css" href="lobby.css">
    </head>
    
    <body>
        <header>
            <nav class="navigation">
                <ul>
                    <li><a href="./lobby.html">Main</a></li>
                    <li><a href="./gameGamepass">Game Pass</a></li>
                    <li><a href="./Personalize">Personalize Player</a></li>
                    <li><a href="./Store">Store</a></li>
                    <li><a href="./Settings">Settings</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section class="show_players" id="show_players">
                <div class="game-list">
                    <ul class="gameCards" id="gameCards">
                        <li onclick="play('solo')"><p>Solo</p></li>
                        <li onclick="play('duo')"><p>Duo</p></li>
                        <li onclick="play('trio')"><p>Trio</p></li>
                        <li onclick="play('squad')"><p>Squad</p></li>
                        
                        <li onclick="play('local')"><p>Local</p></li>
                        <li onclick="play('local2v2')"><p>Local 2v2</p></li>
                        <li onclick="play('personalized')"><p>Personalized</p></li>
                        <li onclick="play('beta')"><p>Beta</p></li>
                    </ul>
                </div>
            </section>
            <input class="play" id="btn_play" type="button" value="Play" onclick="select_game()">
        </main>
    </body>

    <script src="lobby.js"></script>
</html>