/* Body */
body{
    background: rgb(170,170,170);
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 16px;
}


.exit{
    width: 250px;
    height: 75px;
    border: none;
    position: absolute;
    top: 0px;
    left: 0px;
    background: red;
    color: white;
    font-size: 42px;
    font-weight: bold;
    cursor: pointer;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 65%;
    box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.19);
    text-align: center;
}

/* Snake Display */
canvas{
    margin-right: 0px;
    width: 80%;
    height: 100%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    background: rgb(110, 180, 255);
    display: inline-block;
    margin-right: -3.5px;
}

.gameInformation{
    width: calc(20% - 2px);
    height: 100%;
    display: inline-block;
    vertical-align: top;
    background: white;
    text-align: center;
}

.divTime{
    display: inline-block;
    background: #dfc30e;
    width: 100%;
    height: 64px;
    margin-bottom: 30px
}

.divTime p{
    position: relative;
    color: white;
    font-weight: bold;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 42px;
}



/* Score Table */
.scoreTable {
    display: inline-block;
    font-size: 13px;
    font-family: Arial
}

.scoreTable tr.header td {
    border-bottom: 1px solid #CCC;
    padding-bottom: 8px;
}

.scoreTable tr.footer td {
    border-top: 1px solid #CCC;
    font-size: 16px;
    font-weight: bold;
}

.scoreTable tr.footer .nPlayers{
    color: rgb(15, 201, 15);
    font-size: 20px;
}

.scoreTable td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.scoreTable .socket-id {
    font-weight: normal;
    color: #222;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block
}

.scoreTable .score-value {
    font-weight: bold;
    color: #000;
    text-align: right;
}

.current-player .score-value,.current-player .socket-id{
    color: #bdaa27;
}


/* GamePad */
.gamepad{
    display: none;
    position: absolute;
    top: 95%;
    margin-left: 25px;
    transform: translate(-10%, -90%);
    text-align: center;
}

.gamepad img{
    cursor: pointer;
    height: 42px;
    width: 42px;
    padding: 10px 10px;
}




.countdown{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    /* display: none; */
}

.countdown .time{
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,0.85);
    width: 140px;
    height: 140px;
    border-radius: 360px;
}

.countdown .timeImg{
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}

.results{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    /* display: none; */
}

.results ul{
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: calc(104 * 3);
}

.results ul li{
    width: 600px;
    height: 104px;
    background: white;
}

.divMedal{
    padding: 20px 15px;
}

.imgMedal{
    border-right: rgba(0,0,0,0.5) 1.5px solid;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.pMedal{
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    vertical-align: middle;
}

/* Cell Phone */
@media screen and (max-width:600px){
    .btn_start{
        width: 120px;
        font-size: 2em;
        left: 80%;
    }
}