<!DOCTYPE html>
<html lang='pt-BR'>
    <head>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Snake</title> 
        <script src="/socket.io/socket.io.js"></script>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="reset.css">
        <link rel="stylesheet" type="text/css" href="multplayer.css">
    </head>

    <body>
        <header>
            <input type="button" value="Exit" class="exit" onclick="exitGame()">
        </header>
        
        <main>
            <section class="content">
                <canvas id="canvas"></canvas>
                <div class="gameInformation">
                    <div class="divTime"><p id="time">3:00</p></div>
                    <table class="scoreTable" id="scoreTable">
                        <tr class="header">
                            <td>Top 10 players</td>
                            <td>Score</td>
                        </tr>
                    </table>
                </div>
            </section>

            <div id="gamepad" class="gamepad">
                <img src="up-arrow.png" alt="" onclick="set_key('ArrowUp')">
                <br>
                <img src="left-arrow.png" alt="" onclick="set_key('ArrowLeft')">
                <img src="arrow-down.png" alt="" onclick="set_key('ArrowDown')">
                <img src="arrow-right.png" alt="" onclick="set_key('ArrowRight')">
            </div>
        </main>
    </body>
    
    <script src="checkUser.js"></script>
    <script src="multplayer.js"></script>
</html>